{% extends 'dashboard/products_list.html' %} {% load static %}

{% block content %}
    <style>
        .form-control {
            background-color: #ddd
        }
    </style>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Add Product</h4>
                        </div>
                        <div class="content">
                            <form method="get">
                                <input class="form-control" placeholder="Search" type="text" name="search_name">
                            </form>
                            <table class="table">
                                 <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Image</th>
                                        <th>Sku</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Actions</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for product in object_list %}
                                    <tr>
                                        <td>{{ product.id }}</td>
                                        <td><a href="{{ product.get_absolute_url }}" target="_blank">
                                            {% if product.image %}
                                            <img class="img-thumbnail" style="width: 80px;height: 60px;" src="{{ product.image.url }}">
                                            {% else %}
                                            <img class="img-thumbnail" style="width: 80px;height: 60px;" src="{% static 'home/no_image.png' %}">
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>{{ product.sku }}</td>
                                        <td>{{ product }}</td>
                                        <td>{{ product.tag_final_price }}</td>
                                        <td><a {% if product.size %} href="{% url 'dashboard:add_with_size' instance.id product.id %}"
                                            
                                            {% else %} href="{% url 'dashboard:add_or_create' instance.id product.id 1  %}" {% endif %} class="btn btn-success">Add</a></td>
                                    </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="5">No Products Selected</td>
                                        </tr>
                                    {% endfor %}
                                 </tbody>
                             </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    {% block card_section %}
                    <div class="card">
                        <div class="header">
                            <h4 class="title text-center">Order Details</h4>
                            <a href="{% url 'dashboard:print_invoice' instance.id %}" class="btn btn-success"><i class="fa fa-print"></i>Print</a>
                            <a href="" class="btn btn-info"><i class="fa fa-credit-card"></i>Paid</a>

                        </div>
                        <div class="content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Title</td>
                                        <th>{{ instance }}</th>
                                        <td>Date Added</td>
                                        <th>{{ instance.date_expired|date }}</th>
                                    </tr>
                                    <tr>
                                        <td>Order Items Value</td>
                                        <th>{{ instance.tag_value }}</th>
                                        <td>Shipping Cost - Payment Cost</td>
                                        <th>{{ instance.tag_shipping_value }} - {{ instance.tag_payment_value }}</th>
                                    </tr>
                                    <tr>
                                        <td>Costumer Details</td>
                                        <th>
                                            {% if billing_profile %}
                                            <a href="{% url 'dashboard:edit_billing_view' billing_profile.id instance.id %}"
                                               class="btn btn-primary">{{ instance.tag_fullname }}
                                            </a>
                                            {% else %}
                                                <a href="" class="btn btn-primary">Create Billing Profile</a>
                                            {% endif %}
                                        </th>
                                        <td>Address Details</td>
                                        <th>{{ shipping_profile.address }} {{ shipping_profile.postal_code }} {{ shipping_profile.city }}</th>
                                    </tr>
                                    <tr>
                                        <td>Shipping Method</td>
                                        <th>{{ instance.shipping }}</th>
                                        <td>Payment Method</td>
                                        <th>{{ instance.payment_method }}</th>
                                    </tr>
                                    <tr>
                                        <td>Selected Coupons Total Discount {{ instance.tag_discount }}</td>
                                        <th>{% for coupon in instance.coupons.all %}{{ coupon }}, {% endfor %}</th>
                                        <td>User Created</td>
                                        <th>{{ instance.user_account }}</th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="2">
                                            <h4 class="title text-center">Total Value {{ instance.tag_final_price }}</h4>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h4 class="title text-center">Selected Order Items</h4>
                        </div>
                        <div class="content">
                             <h3 class="title text-center"> Order Items</h3>
                             <table class="table">
                                 <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Product</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Actions</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for product in order_items %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ product.title }} {{ product.size|default_if_none:"" }}</td>
                                            <td>{{ product.qty }}</td>
                                            <td>{{ product.tag_final_value }}</td>
                                            <td>
                                                <a href="{% url 'dashboard:edit_order_item' product.id %}" class="btn btn-primary">Edit</a>
                                                <a href="{% url 'dashboard:delete_order_item' product.id %}" class="btn btn-warning">Delete</a>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="5">No Products Selected</td>
                                        </tr>
                                    {% endfor %}
                                    {% if gifts %}
                                        <tr>
                                            <th colspan='5 text-center'>Gifts</th>
                                        </tr>
                                        {% for gift in gifts %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ gift.product_related }}</td>
                                                <td>{{ gift.qty }}</td>
                                                <td>No Price</td>
                                                <td></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                 </tbody>
                             </table>
                        </div>
                    </div>
                        <div class="card">
                        <div class="header">
                            <h4 class="title text-center">Costumer Details</h4>
                        </div>
                        <div class="content">
                            <form method="post">{% csrf_token %}
                                {% for field in form.visible_fields %}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ field.label_tag }}</label>
                                            {{ field }}
                                            {% if field.help_text %}
                                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>

                        <div class="card">
                            <div class="header">
                                <h4 class="title text-center">Actions</h4>
                            </div>
                            <div class="content">
                                <a href="" class="btn btn-success"><i class="fa fa-print"></i> Print </a>

                                <br><br><br>
                                <a style="width: 100%;" href="" class="btn btn-warning ">Delete</a>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        function showEditPopup(url) {
            var win = window.opener(url, "Edit", "height=500,width=800,resizable=yes,scrollbars=yes");
            return false
        }

        function showAddPopup(triggerLink) {
            var name = triggeringLink.id.replace(/^add_/, '');
            href = triggeringLink.href;
            var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
            win.focus();
            return false;
        }

        function closePopup(win, newID, newRepr, id) {
            $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>');
            win.close();
        }
    </script>



{% endblock %}
