{% extends 'dashboard/dashboard.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class='row'>
            <div class='card'>
                <div class='header text-center'>
                    <h2 class="title">POS Homepage</h2>
                </div>
                <div class="content text-center">
                    <div class="row">
                        <div class="col-md-6"><a href="" class="btn btn-danger">New Return Order</a></div>
                        <div class="col-md-6"><a href="{% url 'POS:create_sale' %}" class="btn btn-success">New Order</a></div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class='header'>
                        <h4>Last 30 Orders</h4>
                    </div>
                    <div class="content">
                        <table class='table'>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <td>Order Type</td>
                                    <td>Value</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ order.date_expired|date }}</td>
                                        <td>{{ order.get_order_type_display }}</td>
                                        <td>{{ order.tag_final_value }}</td>
                                        <td><a href="{% url 'POS:sales' order.id %}" class="btn btn-primary">Edit</a> </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan='5'>No data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
