{% extends 'dashboard/dashboard.html' %} {% load static %}


{% block content %}
    <div class="content">
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-12'>
                    <div class='card'>
                        <div class="header text-center">
                            <h3>Order... {{ instance }}</h3>

                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-group">
                                        <li class="list-group-item"><h5>General Info</h5></li>
                                        <li class="list-group-item">
                                            <h6>Order Type <span class="badge badge-secondary">
                                                {{ instance.get_order_type_display }}</span>
                                            </h6>
                                        </li>

                                        <li class="list-group-item"><h6>Payment Method <span class="badge badge-secondary">
                                                {{ instance.payment_method }}</span>
                                            </h6></li>
                                        <li class="list-group-item"><h6>Timestamp <span class="badge badge-secondary">
                                                {{ instance.timestamp }}</span>
                                            </h6></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group">
                                        <li class="list-group-item"><h5>Eshop Detalis</h5></li>
                                        <li class="list-group-item">
                                            <h6>Shipping Method <span class="badge badge-secondary">
                                                {{ instance.shipping }}</span>
                                            </h6>
                                        </li>
                                        <li class="list-group-item"><h6>Costumer info <span class="badge badge-secondary">
                                                {{ instance.tag_fullname }}</span>
                                            </h6></li>
                                        <li class="list-group-item">Date {{ instance.date_expired|date }}</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="header">
                            <div class="title text-center">
                                <h4>Products</h4>
                                <form class='form' method='GET'>
                                    <div class="row">
                                        <div class="col-md-6"><input style="background-color: orangered" name="barcode" class="form-control" placeholder="Barcode"></div>
                                        <div class="col-md-6">
                                            <input style="background-color: limegreen" class='form-control'
                                                   name="search_name"
                                                   type='text'
                                                   placeholder="Search"
                                                    {% if search_name %} value="{{ search_name }}" {% endif %}
                                            >
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-raised">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class='content'>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sku</th>
                                        <th>Product</th>
                                        <th>Category</th>
                                        <th>Value</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in object_list %}
                                        <tr>
                                            <td>{{ product.sku|default_if_none:'No Sku' }}</td>
                                            <td>{{ product }}</td>
                                            <td>{{ product.category|default_if_none:'No category' }}</td>
                                            <td>{{ product.tag_final_price }}</td>
                                            <td><a href='{% url "POS:add_to_order" instance.id product.id 1 %}' class="btn btn-primary">Add</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="header">
                            <div class="title">Order Items</div>
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><label class="badge badge-danger">{{ message }}</label></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                        </div>
                        <div class="content">
                            <table class='table'>
                                <thead>
                                    <tr>
                                        <th>Sku</th>
                                        <th>Product</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                        <th colspan="2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order_item in instance.order_items.all %}
                                        <tr>
                                            <td>{{ order_item.title.sku }}</td>
                                            <td>{{ order_item.title|truncatechars:25 }}</td>
                                            <td>{{ order_item.qty }}</td>
                                            <td>{{ order_item.tag_final_value }}</td>
                                            <td>{{ order_item.tag_total_value  }}</td>
                                            <td colspan="2">
                                                <a href="{% url 'POS:edit_product_item' order_item.id 1 'REMOVE' %}" class="btn btn-sm btn-warning"><i class="fa fa-arrow-down"></i></a>
                                                <a href="{% url 'POS:edit_product_item' order_item.id 1 'ADD' %}" class="btn btn-sm btn-success"><i class="fa fa-arrow-up"></i></a>
                                                <a href="{% url 'POS:edit_product_item' order_item.id 1 'DELETE' %}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan='6'>No items added</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Shipping Cost</td>
                                        <td>{{ instance.costumer_account }}</td>
                                        <td>Payment Cost</td>
                                        <td></td>
                                        <td>Costuer</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td>Final Price</td>
                                        <td>{{ instance.tag_final_value }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <div class="title">Actions</div>
                        </div>
                        <div class="content">
                            <a onclick="return confirm('Are you sure?')" href="{% url 'POS:delete_order' instance.id %}" class="btn btn-danger btn-lg btn-raised">Delete</a>
                            <a href="" class="btn btn-success btn-lg btn-raised right">Done</a>
                            <br><br>
                            <div class="row">
                                <button class="btn btn-primary">Paid</button>
                                <button class="btn btn-primary">Change Costumer</button>
                                <button class="btn btn-primary">Change Payment</button>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h4 class="text-center">Edit Details</h4>
                        </div>
                        <div class="content">
                            <h5>Payment Orders</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Value</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <div class="title">Edit {{ instance }}</div>
                        </div>
                        <div class="content">
                            <form method="post">
                                {% csrf_token %}
                                {{ form }}
                                <button type='submit' name='order_sub' class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
          
               
            </div>
        </div>
    </div>

    <div style="margin-top: 7%" class="row"></div>
    {% include 'PoS/includes/include_ajax_calls.html' %}

{% endblock %}