{% extends 'dashboard/dashboard.html' %} {% load static %}

{% block extra_js %}
    <script>
        function ajax_search(event) {
            event.preventDefault();
        }
        $('#search_name').change(function () {
            var search_name = $(this).val();
            $.ajax({
                url: '{% url "POS:ajax_products_search" instance.id %}',
                method: 'GET',
                dataType: 'json',
                data: {
                    'search_name': search_name
                },
                success: function (data) {
                    $('#products_container').html(data.products);
                }
            })
        })
        $('#barcode_name').change(function () {
            var barcode_name = $(this).val();
            
            $.ajax({
                url: '{% url "POS:ajax_barcode" instance.id %}' + '?barcode_name=' + barcode_name,
                method: 'GET',
                dataType: 'json',
                data: {
                    'barcode_name': barcode_name
                },
                success: function (data) {
                    $('#order_items_container').html(data.order_items_section);
                    $('#value_container').html(data.final_value)
                    $("#cform")[0].reset();
                }
            })
        })
    </script>

    <script>
        $('.edit_item').click(function (event) {
            console.log('works!')
            var button = $(this);
            var url = button.attr('data-href');
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url,
                success: function (data) {
                    $('#order_items_container').html(data.order_items_section);
                    $('#value_container').html(data.final_value)
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-12'>
                    <div class="card">
                        <div class="header text-center" id="value_container">
                            <h3>Aξία Παραγγελίας... {{ instance.tag_final_value }}  </h3>
                            <a onclick="return alert('Είσαι σίγουρος;')" href="{% url 'POS:delete_order' instance.id %}" class="btn btn-warning">Ακύρωση</a>
                            <a href="{% url 'POS:retail_order_done' instance.id %}" class="btn btn-success">Αποθήκευση</a>
                        </div>
                        <div class="content">
                           <div class="card">
                               <div class="header">
                                   <div class="title text-center">
                                   {% if instance.is_paid %}
                                        <a href="{% url 'POS:retail_unlock' instance.id %}" class="btn btn-warning">Ξεκλείδωμα</a>
                                       <p>Εάν θέλετε να επεξεργαστήτε το παραστατικό θα πρέπει να το ξεκληδώσετε πρώτα</p>
                                   {% else %}
                                       <h4>Products</h4>
                                       <form onsubmit="return ajax_search(event)" class='form' method='GET' id='cform'>
                                           <div class="row">
                                               <div class="col-md-6">
                                                   <input
                                                           style="background-color: orangered"
                                                           name="barcode_name"
                                                           class="form-control"
                                                           placeholder="Barcode"
                                                           id='barcode_name'
                                                   >
                                               </div>
                                               <div class="col-md-6">
                                                   <input style="background-color: limegreen" class='form-control'
                                                          name="search_name"
                                                          id="search_name"
                                                          type='text'
                                                          placeholder="Search"
                                                           {% if search_name %} value="{{ search_name }}" {% endif %}
                                                   >
                                               </div>
                                           </div>
                                           <input type="submit" hidden>
                                       </form>
                                   {% endif %}
                                   </div>
                               </div>
                               <div class='content' id="products_container">
                                   <h4>Κάντε αναζήτηση για να εμφανιστούν τα Προϊόντα</h4>
                               </div>
                           </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header"><div class="title">Συστατικά</div></div>
                        <div class="content" id="order_items_container">
                            <table class='table'>
                                <thead>
                                    <tr>
                                        <th>Sku</th>
                                        <th>Προϊόν</th>
                                        <th>Ποσότητα</th>
                                        <th>Τιμή</th>
                                        <th>Σύνολο</th>
                                        <th colspan="2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order_item in instance.order_items.all %}
                                        <tr>
                                            <td>{{ order_item.title.sku }}</td>
                                            <td>{{ order_item.title|truncatechars:25 }}</td>
                                            <td>{{ order_item.qty }}</td>
                                            <td>{{ order_item.tag_final_value }}</td>
                                            <td>{{ order_item.tag_total_value  }}</td>
                                            <td colspan="2">
                                                <button
                                                        data-href="{% url 'POS:ajax_edit_order_item' order_item.id 1 'REMOVE' %}"
                                                        class="btn btn-sm btn-warning edit_item"
                                                >
                                                    <i class="fa fa-arrow-down"></i>
                                                </button>
                                                <button
                                                        data-href="{% url 'POS:ajax_edit_order_item' order_item.id 1 'ADD' %}"
                                                        class="btn btn-sm btn-success edit_item"
                                                ><i class="fa fa-arrow-up"></i>
                                                </button>
                                                <button
                                                        data-href="{% url 'POS:ajax_edit_order_item' order_item.id 1 'DELETE' %}"
                                                        class="btn btn-sm btn-danger edit_item"><i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan='6'>No items added</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Shipping Cost</td>
                                        <td>{{ instance.costumer_account }}</td>
                                        <td>Payment Cost</td>
                                        <td></td>
                                        <td>Costuer</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td>Final Price</td>
                                        <td>{{ instance.tag_final_value }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header text-center">
                            <button class="btn btn-primary"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#actions_info"
                                    aria-expanded="false"
                                    aria-controls="actions_info"
                            >Actions
                            </button>
                        </div>
                        <div class="content">
                            <div class="row collapse" id="actions_info">
                                <div class="col-md-6">
                                    <h4>Επεξεργασία</h4>
                                    <form method="post">{% csrf_token %}
                                        {{ form }}
                                        <button type='submit' name='order_sub' class="btn btn-primary">Save</button>
                                    </form>
                                </div>
                                <div class="col-md-6 text-center">
                                    <br> <br>
                                    <a onclick="return confirm('Are you sure?')" href="{% url 'POS:delete_order' instance.id %}" class="btn btn-danger btn-lg btn-raised">Delete</a>
                                    <a href="{% url 'POS:retail_order_done' instance.id %}" class="btn btn-success btn-lg btn-raised">Paid</a>
                                    <a href="{% url 'POS:return_order_from_retail' instance.id %}" class="btn btn-primary">
                                        Δημιουργία Παραστατικού Επιστροφής
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class='card'>
                        <div class="header text-center">
                           <button class="btn btn-primary"
                                   type="button"
                                   data-toggle="collapse"
                                   data-target="#general_info"
                                   aria-expanded="false"
                                   aria-controls="general_info "
                           >Γενικές Πληροφορίες</button>
                        </div>
                        <div class="content">
                            <div class="row collapse" id="general_info">
                                <div class="col-md-6">
                                    <ul class="list-group">
                                        <li class="list-group-item"><h5>Γενικές Πληροφορίες</h5></li>
                                        <li class="list-group-item">
                                            <h6>Είδος Παραστατικού <span class="badge badge-secondary">
                                                {{ instance.get_order_type_display }}</span>
                                            </h6>
                                        </li>

                                        <li class="list-group-item"><h6>Τρόπος πληρωμής<span class="badge badge-secondary">
                                                {{ instance.payment_method }}</span>
                                            </h6></li>
                                        <li class="list-group-item"><h6>Timestamp <span class="badge badge-secondary">
                                                {{ instance.timestamp }}</span>
                                            </h6></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group">
                                        <li class="list-group-item"><h5>Eshop Detalis</h5></li>
                                        <li class="list-group-item">
                                            <h6>Τρόπος Μεταφοράς <span class="badge badge-secondary">
                                                {{ instance.shipping }}</span>
                                            </h6>
                                        </li>
                                        <li class="list-group-item"><h6>Πελάτης<span class="badge badge-secondary">
                                                {{ instance.tag_fullname }}</span>
                                            </h6></li>
                                        <li class="list-group-item">Ημερομηνια {{ instance.date_expired|date }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="header">
                    <h4 class="text-center">Edit Details</h4>
                </div>
                <div class="content">
                    <h5>Payment Orders</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Ημερομηνία</th>
                            <th>Σχόλια</th>
                            <th>Τρόπος Πληρωμής</th>
                            <th>Ποσό</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for payment in instance.payorders.all %}
                                <tr>
                                    <td>{{ payment.date_expired|date }}</td>
                                    <td>{{ payment.title|default_if_none:"..." }}</td>
                                    <td>{{ payment.payment_method }}</td>
                                    <td>{{ payment.tag_final_value }}</td>
                                </tr>
                            {% empty %}

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    <div style="margin-top: 7%" class="row"></div>
    {% include 'PoS/includes/include_ajax_calls.html' %}

{% endblock %}