{% extends "transcations/index.html" %}


{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Bill list</h4>
                    </div>
                    <div class="content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Category</th>
                                    <th>Title</th>
                                    <th>Value</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in queryset %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ instance.date_expired|date }}</td>
                                        <td>{{ instance.category }}</td>
                                        <td>{{ instance }}</td>
                                        <td>{{ instance.tag_final_value }}</td>
                                        <td><a href="" class="btn btn-primary">Edit</a> </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5">No Data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Filters</h4>
                    </div>
                    <div class="content">
                        <form method="get">
                            {% for category in categories %}
                                <div class="checkbox">
                                    <label><input type="checkbox" value="{{ category.id }}" name="category_name">{{ category }}</label>
                                </div>
                            {% endfor %}
                        </form>
                        <button href="{% url 'billings:ajax_bill_cat_popup' %}"
                                onclick="return showAddPopup(this);"
                                class="btn btn-raised btn-primary">Create Category
                        </button>
                    </div>
                </div>
                
            </div>

            <div class="col-lg-4" id="form_container">
                <div class="card">
                    <div class="header">
                        <h4 class="title">New Bill</h4>
                    </div>
                    <div class="content">
                        <form method="post" class="form"> {% csrf_token %}
                            {{ form }}
                            <button name="new_bill" type="submit" class="btn btn-success">Save</button>
                        </form>

                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
    console.log('works');
        function showAddPopup(triggerLink) {
            console.log('works');
            const name = 'category';
            const href = "{% url 'billings:ajax_bill_cat_popup' %}";
            var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbar=yes');
            win.focus();
            return false
        }

        function closePopup(win, newID, newRepr, id) {
            $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>');
            win.close();
        }
    </script>
{% endblock %}