{% extends "transcations/index.html" %}

{% block title %}<a class="navbar-brand" href="">{{ page_title }}</a> {% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        {% if messages %}
            <div class="row">
                <div class='col-lg-12'>
                    <div class="card">
                        <div class="header">
                            Messages
                        </div>
                        <div class="content">
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Invoice List</h4> <br> <button class="btn btn-success">Fast Report</button>
                    </div>
                    <div class="content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Category</th>
                                    <th>Title</th>
                                    <th>Value</th>
                                    <th colspan="2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in queryset %}
                                    <tr>
                                        <td>{{ forloop.counter }}
                                            {% if not instance.is_paid %}
                                                <a href="{{ instance.get_paid_url }}" class="btn btn-success">Paid</a>
                                            {% endif %}
                                        </td>
                                        <td {% if not instance.is_paid %}
                                                class="danger"
                                            {% else %}
                                                class="success"
                                            {% endif %}>
                                            {{ instance.date_expired|date }}
                                        </td>
                                        <td>{{ instance.category }}</td>
                                        <td>{{ instance }}</td>
                                        <td>{{ instance.tag_final_value }}</td>
                                        <td colspan="2">

                                            <a href="{{ instance.get_dashboard_url }}" class="btn btn-primary">Edit</a>
                                            <a onclick='return confirm("Are you sure?");'
                                               href="{{ instance.get_delete_url }}"
                                               class="btn btn-warning">Delete
                                            </a>
                                         </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5">No Data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" id="form_container">
            <div class="card">
                    <div class="header">
                        <h4 class="title">Filters</h4>
                    </div>
                    <div class="content">
                        <form method="get">
                            <div class="pagination">
                                <span class="step-links">
                                    {% if queryset.has_previous %}
                                        <a class="btn btn-primary" href="?page=1">&laquo; first</a>
                                        <a class="btn btn-primary" href="?page={{ queryset.previous_page_number }}">previous</a>
                                    {% endif %}
                                    <span class="current">
                                        Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
                                    </span>
                                    {% if queryset.has_next %}
                                        <a class="btn btn-primary" href="?page={{ queryset.next_page_number }}">next</a>
                                        <a class="btn btn-primary" href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input onclick="this.form.submit()"
                                           type="checkbox"
                                           value="paid"
                                           name="paid_name"
                                            {% if 'paid' in paid_name %} checked {% endif %}
                                    >Paid
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input onclick="this.form.submit()"
                                           type="checkbox"
                                           value="not_paid"
                                           name="paid_name"
                                            {% if 'not_paid' in paid_name %} checked {% endif %}
                                    >Not Paid
                                </label>
                            </div>
                            <input type="text"
                                   class='form-control'
                                   name='search_name'
                                   placeholder='search'
                                    {% if search_name %} value="{{ search_name }}" {% endif %}
                            >
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Date from</label>
                                    <input name='date_start'
                                           type='date'
                                           class="form-control"
                                           {% if date_start %} value="{{ date_start }}" {% endif%}
                                    />
                                </div>
                                <div class="col-md-6">
                                    <label>Date until</label>
                                    <input name="date_end"
                                           type='date'
                                           class="form-control"
                                           {% if date_end %} value="{{ date_end }}" {% endif %}
                                    />
                                </div>
                            </div>
                            <h5>Categories</h5>
                            {% for category in categories %}
                                <div class="checkbox">
                                    <label>
                                        <input onclick="this.form.submit()"
                                               type="checkbox"
                                               value="{{ category.id }}"
                                               name="cate_name"
                                               {% if category.id|stringformat:'s' in cate_name %} checked {% endif %}
                                        >{{ category }}
                                    </label>
                                </div>
                            {% endfor %}
                            {% if page_title == 'Payroll' %}
                                <h5>Person</h5>
                                {% for person in persons %}
                                    <div class="checkbox">
                                        <label>
                                            <input onclick="this.form.submit()"
                                                   type="checkbox"
                                                   value="{{ person.id }}"
                                                   name="person_name"
                                                   {% if person.id|stringformat:'s' in person_name %} checked {% endif %}
                                            >{{ person }}
                                        </label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <button type="submit" class="btn btn-default btn-round">Save</button>
                            <a href="{{ request.path }}" class="btn btn-warning">Reset</a>
                        </form>

                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">New Invoice</h4>
                        <br>
                        <button data-url="{{ data_url }}"
                                onclick="return showAddPopup(this);"
                                class="btn btn-raised btn-primary">{{ button_title }}
                        </button>
                    </div>
                    <div class="content">
                        <form method="post" class="form form-raised"> {% csrf_token %}
                            {{ form }}
                            <button name="new_bill" type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>
                {% if payment_orders %}
                <div class="card">
                    <div class="header">
                        <h4 class="title">Payments Orders</h4>
                    </div>
                    <div class="content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Value</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in payment_orders %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ payment.date_expired }}</td>
                                        <td>{{ payment.tag_final_value }}</td>
                                        <td><a href="" class="btn btn-warning">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
    console.log('works');
        function showAddPopup(triggerLink) {
            console.log(triggerLink);
            const name = 'category';
            const href = "{{ data_url }}";
            var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbar=yes');
            win.focus();
            return false
        }

        function closePopup(win, newID, newRepr, id) {
            $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>');
            win.close();
        }
    </script>
{% endblock %}