{% load static %}

<!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="{% url 'homepage' %}"><img src="{% static 'home/img/core-img/logo.png' %}" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="{% url 'homepage' %}"><img src="{% static 'home/img/core-img/logo.png' %}" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li class="active"><a href="{% url 'homepage' %}">Home</a></li>
                    {% for category in menu_categories %}
                        <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-100">
                <a href="{% url 'offers_page' %}" class="btn amado-btn mb-15">Discounts</a>
                <a href="{% url 'new_products_page' %}" class="btn amado-btn active">New this week</a>
            </div>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a href="{% url 'cart_page' %}" class="cart-nav"><img src="{% static 'home/img/core-img/cart.png' %}" alt=""> Cart <span>({{ cart_items.count|default_if_none:'0' }})</span></a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile-page' %}" class="fav-nav"><img src="{% static 'home/img/core-img/favorites.png' %}" alt="">{{ request.user }}</a>
                {% else %}
                    <a href="{% url 'login_page' %}" class="fav-nav"><img src="{% static 'home/img/core-img/favorites.png' %}" alt="">Login/ Register</a>
                {% endif %}
                <a href="#" class="search-nav"><img src="{% static 'home/img/core-img/search.png' %}" alt=""> Search</a>
            </div>
            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->