<table class="table">
    <thead>
    <tr>
        <th>Sku</th>
        <th>Product</th>
        <th>Category</th>
        <th>Value</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for product in object_list %}
        <tr>
            <td>{{ product.sku|default_if_none:'No Sku' }}</td>
            <td>{{ product }}</td>
            <td>{{ product.category|default_if_none:'No category' }}</td>
            <td>{{ product.tag_final_price }}</td>
            <td>
                <button data-href='{% url "POS:ajax_add_products" instance.id product.id %}'
                        class="btn btn-primary add_button"
                >Add</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-danger" href="{% url 'POS:sales' instance.id %}">Reset</a>

<script>
    $('.add_button').click(function (event) {
        console.log('add works!');
        var button = $(this);
        var url = button.attr('data-href');
        $.ajax({
            method: 'GET',
            dataType: 'json',
            url: url,
            success: function (data) {
                $('#order_items_container').html(data.order_items_section)
                $('#final_value').html(data.final_value)
            }
        })
    })
</script>