{% extends "dashboard/site_templates/homepage.html" %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title text-center">Costumers</h4>
                            <p class="category"><a href="{% url 'dashboard:costumer_create' %}" class="btn btn-success">Create New Costumer</a></p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                     <tr>
                                         <th>#</th>
                                         <th>Full Name</th>
                                         <th>Full Address</th>
                                         <th>City</th>
                                         <th>Balance</th>
                                         <th>Actions</th>
                                     </tr>
                                </thead>
                                <tbody>
                                 {% for object in object_list %}
                                     <tr>
                                         <td>{{ forloop.counter }}</td>
                                         <td>{{ object.tag_full_name }}</td>
                                         <td>{{ object.tag_active }}</td>
                                         <td>{{ object.city }}</td>
                                         <td>{{ object.tag_balance }}</td>
                                         <td><a href="{% url 'dashboard:costumer_edit' object.id %}" class="btn btn-primaty">Edit</a>
                                             
                                         </td>
                                     </tr>
                                 {% empty %}
                                     <tr>
                                         <td colspan="6">No Banners</td>
                                     </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
 
            </div>
        </div>
    </div>
{% endblock content %}
