<div class="two fields">
    <div class="field">
        <label>Καταστήματα - Ταμεία</label>
        {% for store in stores %}
            {% if store.id|stringformat:"s" in store_name  %}
                <div class="ui checkbox">
                    <input type="checkbox" name="store_name" value="{{ store.id }}" checked>
                    <label>{{ store }}</label>
                </div>
            {% else %}
                <div class="ui checkbox">
                    <input type="checkbox" name="store_name" value="{{ store.id }}">
                    <label>{{ store }}</label>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="field">
        <div class="ui green checkbox">
            <input type="checkbox" name="paid_name" value="paid" {% if 'paid' in paid_name %} checked {% endif %}>
            <label>Πληρωμένες</label>
        </div>
        <div class="ui red checkbox">
            <input type="checkbox" name="paid_name" value="not_paid" {% if 'not_paid' in paid_name %} checked {% endif %}>
            <label>Μη πληρωμένες</label>
        </div>
    </div>
</div>
<div class="two fields">
    <div class="field">
        <label>Λογαριασμοί</label>
        {% for bill in bills %}
            {% if bill.id|stringformat:"s" in bill_name %}
                <div class="ui checkbox">
                    <input type="checkbox" name="bill_name" value="{{ bill.id }}" checked>
                    <label>{{ bill }}</label>
                </div>
            {% else %}
                <div class="ui checkbox">
                    <input type="checkbox" name="bill_name" value="{{ bill.id }}">
                    <label>{{ bill}}</label>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="field">
        <label>Κατηγορία Εξόδων</label>
        {% for bill in bills_group %}
            <div class="ui checkbox">
                <input type="checkbox"
                       id="bill_groip_{{ bill.0 }}"
                       name="bill_group_name"
                       value="{{ bill.0 }}"
                       {% if bill.id|stringformat:"s" in bill_group_name %}checked{% endif %}
                >
                <label for="bill_groip_{{ bill.0 }}">{{ bill.1 }}</label>
            </div>
        {% endfor %}
    </div>
</div>
<div class="two fields">
    <div class="field">
        <label>Υπάλληλοι</label>
        {% for person in persons %}
            <div class="ui checkbox">
                <input type="checkbox"
                       id="person_{{ person.id }}"
                       name="person_name"
                       value="{{ person.id }}"
                       {% if person.id|stringformat:"s" in person_name %} checked {% endif %}
                >
                <label for="person_{{ person.id }}">{{ person }}</label>
            </div>
        {% endfor %}
    </div>
    <div class="field">
        <label>Υπάλληλοι</label>
        {% for occup in occupations %}
            <div class="ui checkbox">
                <input type="checkbox"
                       id="occup_{{ occup.id }}"
                       name="occup_name"
                       value="{{ occup.id }}"
                       {% if occup.id|stringformat:"s" in occup_name %} checked {% endif %}
                >
                <label for="occup_{{ occup.id }}">{{ occup }}</label>
            </div>
        {% endfor %}
    </div>
</div>