<form class="ui form" method="get" id="filter_form">
    <button style="width: 100%" type="submit" class="ui green button" placeholder="">Save</button>
    <a href="{{ request.path }}" style="margin-left: 50%" class="ui red button">Καθαρισμός Φίλτρων</a>
    {% include "snippets/search_date_filter.html" %}
    <div class="three fields">
        <div class="field">
            <label for="qty">Εκπτωση</label>
            <input 
                type="checkbox" 
                name="discount_name" 
                class="ui checkbox" 
                value="true" 
                placeholder="Discount" 
                {% if request.GET.discount_name %}checked {% endif %}
            >
        <div class="field">
            <label for="qty">Απόθεμα</label>
            <input type="checkbox" 
                   name='qty_name' 
                   class="ui checkbox" 
                   value="true" 
                   placeholder="qty" 
                   {% if request.GET.qty_name %}checked {% endif %}
            > 
        </div>
        <div class="field">
            <label for="size">Μεγεθολόγιο</label>
            <input type="checkbox" name="size_data_name" class="ui checkbox" {% if request.GET.size_data_name %} value="true"{% endif %}>
        </div>
    </div>
    </div>
    {% include 'snippets/vendor_cate_filter.html' %}
    <button style="width: 100%" type="submit" class="ui green button" placeholder="">Save</button>
    <a href="{{ request.path }}" style="margin-left: 50%" class="ui red button">Καθαρισμός Φίλτρων</a>
</form>