{% extends 'inventory_manager/index.html' %} {% load static %}

{% block extra_js %}
    <script>
        function ajax_search(event) {
            event.preventDefault();
        }
        $('#search_name').change(function () {
            var search_name = $(this).val();
            var instance_id ={{ instance.id }};
            $.ajax({
                url: '{% url "inventory:ajax_search_products" %}',
                method:'GET',
                dataType: 'json',
                data: {'search_name': search_name,
                       'instance_id': instance_id
                },
                success: function (data) {
                    $('#product_container').html(data.results)
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <h4 class="center aligned">Κωδικός... {{ instance.title }}, Προμηθευτής... {{ instance.vendor }}, Ημερομηνία... {{ instance.date_expired|date }}</h4>
                        <p>
                            <button data-vendoe="{{ instance.vendor.id }}" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#product_collapse" aria-expanded="false" aria-controls="product_collapse">
                                Προσθήκη Προϊόντος
                            </button>
                        </p>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="collapse" id="product_collapse">
                             <div class="header">
                                 <h4 class="title">Αναζήτηση Προϊόντος</h4>
                                 <form onsubmit="return ajax_search(event) " method='GET'>
                                     <input id="search_name" type="text" name='search_name' class="form-control" placeholder="Search">
                                     <a href="{{ request.path  }}" class="btn btn-warning">Reset</a>
                                 </form>
                             </div>
                            <div class="content">
                                <form class='form' method="post">{% csrf_token %}
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Κωδικός</th>
                                            <th colspan="2">Προϊόν.........</th>
                                            <th>Μαζική Επιλογή</th>
                                            <th colspan="4">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody id="product_container">
                                        {% for product in products %}
                                            <tr>
                                                <td>{{ product.sku }}</td>
                                                <td colspan="2"><a target="_blank" href="{{ product.edit_url }}">{{ product.title }}</a></td>
                                                <td>
                                                    {% if product.size %}
                                                        <a href="{% url 'inventory:order_create_size_chart' instance.id product.id %}" class="btn btn-raised">Add</a>
                                                    {% else %}
                                                        <div class="checkbox"><input type="checkbox" class="small form-control" value="{{ product.id }}" id="add_" name="add_"></div>
                                                    {% endif %}
                                                </td>
                                                <td><label>Τιμή</label><input type='number' class="form-control" step='0.01' name='price_{{product.id}}' value='{{ product.price_buy  }}' placeholder="{{ product.price_buy }}"></td>
                                                <td><label>'Εκπτωση</label><input type='number' class="form-control" name='discount_{{ product.id }}' value="{{ product.order_discount }}" placeholder="0"></td>
                                                <td><label>Ποσότητα</label><input type='number' class="form-control" name='qty_{{product.id}}' placeholder="0"></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <button  name='add_products' type="submit" class="btn btn-info btn-fill btn-wd">Add</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Order Items</h4>
                    </div>
                    <div class="content">
                        <table class="table table-sm table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Προϊόν</th>
                                    <th>Ποσότητα</th>
                                    <th>Αρχική Αξία - Έκπτωση - Αξία</th>
                                    <th colspan="3">
                                        <span class="badge badge-secondary">Συνολική Αξία</span>
                                        <span style="background-color:red" class="badge badge-danger">Φόρος</span>
                                        <span style="background-color:green" class="badge badge-light">Τελική Αξία</span></th>
                                    <th>Actions</th>
                                    <th>Νέο Υπόλοιπο</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in instance.order_items.all %}
                                    <tr>
                                        <td>{{ item.order_code }}</td>
                                        <td>{{ item }}</td>
                                        <td>{{ item.qty }} {{ item.get_unit_display }}</td>
                                        <td colspan="3">{{  item.tag_value }} - {{ item.discount_value }} % - {{ item.tag_final_value }}</td>
                                        <td>
                                            <span class="badge badge-secondary">{{ item.tag_total_clean_value }}</span>
                                            <span style="background-color:red" class="badge badge-danger">{{ item.tag_total_taxes }}</span>
                                            <span style="background-color:green" class="badge badge-light">{{ item.tag_total_final_value }}</span>
                                        </td>
                                        
                                        <td>
                                            <a {% if item.product.size %} href="{% url 'inventory:order_edit_sizechart' item.id %}" {% else %} href="{% url 'inventory:edit_order_item' item.id %}" {% endif %}
                                               class="btn btn-sm btn-success btn-icon"><i class="fa fa-edit"></i></a>
                                            <a href="{% url 'inventory:delete_order_item' item.id %}" class="btn btn-sm  btn-warning btn-icon"><i class="fa fa-remove"></i></a>
                                        </td>
                                       
                                        <td>
                                            {% if item.attributes %}
                                                <p>{{ item.qty }} {{ item.get_unit_display }}</p>
                                                {% for size in item.attributes.all %}
                                                    Attr: {{ size.size_related }} - Qty: {{ size.qty }} |
                                                {% endfor %}
                                            {% else %}
                                                {{ item.product.qty }} {{ item.product.get_measure_unit_display }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="6">No data</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="header">
                        <h4 class="title">Actions</h4>
                    </div>
                    <div class="content">
                        <a href="{% url 'inventory:order_update_warehouse' instance.id %}" class="btn btn-success">Update!</a>

                        <br> <br><br>
                        <a href="" onclick="return confirm('Do you really want to delete it?');" class="btn btn-warning">Delete</a>
                        <a target='_blank' href="{% url 'dashboard:product_create' %}" class="btn btn-primary">Δημιουργία Προϊόντος</a>
                    </div>
                </div>

                <div class="card">
                    <div class="header">Πληρωμές</div>
                    <div class="content">
                    <h4>Χρησιμοποίησε επιταγή Προμηθευτή</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ημερομηνία</th>
                                    <th>Τίτλος</th>
                                    <th>Τρόπος Πληρωμής</th>
                                    <th>Κατάσταση</th>
                                    <th>Αξία</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in instance.vendor.payment_orders.all %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ payment.date_expired|date }}</td>
                                        <td>{{ payment }}</td>
                                        <td>{{ payment.payment_method }}</td>
                                        <td>{{ payment.tag_is_paid }}</td>
                                        <td>{{ payment.tag_final_value }}</td>
                                        <td><a href="" class="btn btn-dark">Use this</a> </td>
                                    </tr>
                                {% empty %}
                                    <tr><td colspan="7">No data</td> </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br> <br>
                        <h4>Δημιούργησε καινούργια</h4>
                        <table class="table table-responsive-sm table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th>Payment Method</th>
                                    <th>Value</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in instance.payment_orders.all %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ payment.date_expired|date }}</td>
                                        <td>{{ payment }}</td>
                                        <td>{{ payment.payment_method }}</td>
                                        <td>{{ payment.tag_final_value }}</td>
                                        <td>{{ payment.tag_is_paid}}</td>
                                        <td>
                                            <a href='{% url "inventory:order_payment_edit_or_remove" payment.id %}' class="btn btn-primary">Edit</a>
                                            <a href="{% url 'inventory:order_delete_payment' payment.id %}" class="btn btn-warning">Delete</a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="7">No Payments</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form_payment }}
                            <button class="btn btn-raised" type="input" name="payment">Save</button>
                        </form>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-4">
                 <div class="card">
                    <div class="header">
                        <h4 class="title text-center">Συνολική Αξία... {{ instance.tag_final_value }}</h4>
                    </div>
                    <div class="content">
                        <ul class="list-unstyled team-members">
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        {{ instance.get_order_type_display }}
                                        <br>
                                        <span class="text-muted"><small>Είδος Παραστατικού</small></span>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        {{ instance.payment_method }}
                                        <br>
                                        <span class="text-muted"><small>Τρόπος Πληρωμής</small></span>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-9">
                                        Αρχική Αξία..{{ instance.tag_clean_value }} <br>
                                        Συνολική έκπτωση..{{ instance.tag_total_discount }} <br>
                                        Καθαρή Αξία..{{ instance.tag_clean_value }} <br>
                                        Φόροι.. {{ instance.tag_total_taxes}}
                                        <br>
                                        <span class="text-muted"><small>Ανάλυση</small></span>
                                    </div>
                                    <div class="col-xs-3 text-right">
                                        {{ instance.tag_paid_value }}<br>
                                        <br>
                                        <span class="">Πληρωτέο Ποσό</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-9">
                                        {{ instance.get_taxes_modifier_display }} %
                                        <br>
                                        <span class="text-muted"><small>Συντελεστης Φόρου</small></span>
                                    </div>
                                    <div class="warning col-xs-3 text-right">
                                        {{ instance.tag_remaining_value }}
                                        <br>

                                        Υπόλοιπο
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <div class="title"><h4>Edit Order</h4></div>
                    </div>
                    <div class='content'>
                        <form class="form" method='post'>{% csrf_token %}
                            {{ form }}
                            <button name='update_form' type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="header">Images</div>
                    <div class="content">
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for image in instance.images.all %}
                                    <tr>
                                        <td><img style="width: 150px; height: 150px" src="{{ image.file.url }}" class="img-responsive img-thumbnail img"></td>
                                        <td><a href="{% url 'inventory:order_delete_image' image.id %}" class="btn btn-warning">Delete</a> </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="2">No image</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <h4>New Image</h4>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form_image }}
                            <button class="btn btn-raised" type="input" name="image">Save</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
{% endblock %}