{% extends "my_site/index.html" %} {% load static %} {% load crispy_forms_tags %}


{% block content %}
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">
        {% include 'my_site/include/navbar.html' %}
        <div class="cart-table-area section-padding-100">
                <div class="container-fluid">
                    <div class="row">
                        {% if not request.user.is_authenticated %}
                            <div class="col-md-4">
                                <p class="lead">Login or Register</p>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ login_form }}
                                    <br>
                                    <button name="login_button" type="submit" class="btn btn-success">Login</button>
                                </form>
                            </div>
                            <div class="col-md-4"></div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-8">
                            <div class="checkout_details_area mt-50 clearfix">
                                <div class="cart-title">
                                    <h2>Checkout</h2>
                                </div>
                                 <form method="post"> {% csrf_token %}
                                     {% crispy form %}
                                 </form>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4" >
                            <div class="cart-summary">
                                <h5>Cart Total</h5>
                                <ul class="summary-table" id="cart_container">
                                    <li><span>subtotal:</span> <span>{{ cart.tag_value }}</span></li>
                                    <li><span>Delivery Cost:</span> <span>{{ cart.tag_shipping_cost|default_if_none:'free' }}</span></li>
                                    <li><span>Cost Cash:</span> <span>{{ cart.tag_payment_cost|default_if_none:'free' }}</span></li>
                                    <li><span>Coupon Discount:</span> <span>0.00</span></li>
                                    <li><span>total:</span> <span>{{ cart.tag_final_value }}</span></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    </form>
                </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    {% endblock %}

{% block extra_js %}
    <script>
        $('.trigger_button').click(function (event) {
            var btn = $(this);
            var href = btn.attr('data-url');
            $.ajax({
                dataType: 'json',
                url: href,
                success: function (response) {
                    $('#cart_container').html(response.cart_data)
                }

            })
        })
    </script>
{% endblock %}