{% extends "my_site/index.html" %} {% load static %}


{% block content %}
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">
        {% include 'my_site/include/navbar.html' %}
        <div class="cart-table-area section-padding-100">
                <div class="container-fluid">
                    <div class="row">
                        {% if not request.user.is_authenticated %}
                            <div class="col-md-4">
                                <p class="lead">Login or Register</p>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ login_form }}
                                    <br>
                                    <button name="login_button" type="submit" class="btn btn-success">Login</button>
                                </form>
                            </div>
                            <div class="col-md-4">
                            <p class="lead">Continue as Guest</p>
                                <form method="post">{% csrf_token %}
                                    <input type="email" class="form-control" placeholder="Email" required>
                                    <br>
                                    <button name="guest_button" type="submit" class="btn btn-success">Continue</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                    <form method="post" class="row"> {% csrf_token %}
                        <div class="col-12 col-lg-8">     
                            <div class="checkout_details_area mt-50 clearfix">
                                <div class="cart-title">
                                    <h2>Checkout</h2>
                                </div>
                                <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <input type="text" class="form-control" id="id_first_name" name='first_name' value="" placeholder="First Name" required>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <input type="text" class="form-control" id="id_last_name" name='last_name' value="" placeholder="Last Name" required>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <input type="text" class="form-control" id="company" placeholder="Company Name" value="">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <input type="email" class="form-control" id="id_email" name='email' placeholder="Email" value="" required>
                                        </div>
                                        
                                        <div class="col-12 mb-3">
                                            <input type="text" class="form-control mb-3" id="id_address" name='address' placeholder="Address" value="" required>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <input type="text" class="form-control" id="id_city" name='city' placeholder="Town" value="" required>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <input type="number" class="form-control" id="id_zip_code" name='zip_code' placeholder="Zip Code" value="" required>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                                <input type="number" class="form-control" id="id_cellphone" name='cellphone' min="0" placeholder="CellPhone No" value="" required>
                                            </div>
                                        <div class="col-md-6 mb-3">
                                            <input type="number" name="phone" value="0" hidden>
                                            <input type="number" class="form-control" id="id_phone" name='phone' min="0" placeholder="Phone" value="">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <textarea name="comment" class="form-control w-100" id="comment" cols="30" rows="10" placeholder="Leave a comment about your order"></textarea>
                                        </div>
    
                                        <div class="col-12">
                                            {% if not request.user.is_authenticated %}
                                            <div class="custom-control custom-checkbox d-block mb-2">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">Create an accout</label>
                                            </div>
                                            {% endif %}
                                            <div class="custom-control custom-checkbox d-block">
                                                <input name='agreed' type="checkbox" class="custom-control-input" id="customCheck3" required>
                                                <label class="custom-control-label" for="customCheck3">Agree to Rules</label>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4" >
                            <div class="cart-summary">
                                <h5>Cart Total</h5>
                                <ul class="summary-table" id="cart_container">
                                    <li><span>subtotal:</span> <span>{{ cart.tag_value }}</span></li>
                                    <li><span>Delivery Cost:</span> <span>{{ cart.tag_shipping_cost|default_if_none:'free' }}</span></li>
                                    <li><span>Cost Cash:</span> <span>{{ cart.tag_payment_cost|default_if_none:'free' }}</span></li>
                                    <li><span>Coupon Discount:</span> <span>0.00</span></li>
                                    <li><span>total:</span> <span>{{ cart.tag_final_value }}</span></li>
                                </ul>
    
                                <div class="payment-method">
                                        <h6>Payment Method</h6>
                                        {% for payment in payment_methods %}
                                        <!-- Cash on delivery -->
                                        <div class="custom-control mr-sm-2">
                                            <label>
                                                <input
                                                    class="form-control trigger_button"
                                                    data-url="{% url 'ajax_checkout' 'payment' payment.id %}"
                                                    type="radio"
                                                    class="form-control trigger_button"
                                                    name="payment_method"
                                                    value="{{ payment.id }}"
                                                        {% if payment.id == cart.payment_method.id %} checked {% endif %}
                                                    required
                                                    >{{ payment }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                </div>

                                <div class="payment-method">
                                    <h6>Shipping Method</h6>
                                    {% for shipping in shippings %}
                                        <div class="custom-control mr-sm-2">
                                            <label>
                                                <input
                                                    class="form-control trigger_button"
                                                    data-url="{% url 'ajax_checkout' 'shipping' shipping.id %}"
                                                    type="radio"
                                                    name="shipping_method"
                                                    value="{{ shipping.id }}"
                                                    required
                                                        {% if shipping.id == cart.shipping_method.id %} checked {% endif %}
                                                >{{ shipping }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
    
                                <div class="cart-btn mt-100">
                                    <button type='submit' class="btn amado-btn w-100">Checkout</button>
                                </div>
                            </div>
                        </div>
                   
                    </form>
                </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    {% endblock %}

{% block extra_js %}
    <script>
        $('.trigger_button').click(function (event) {
            var btn = $(this);
            var href = btn.attr('data-url');
            $.ajax({
                dataType: 'json',
                url: href,
                success: function (response) {
                    $('#cart_container').html(response.cart_data)
                }

            })
        })
    </script>
{% endblock %}