{% extends 'my_site/index.html' %} {% load static %}


{% block content %}

    <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true"
            {% if first_page.image %}
                 style="background-image: url('{{ first_page.image.url }}');">
            {% else %}
                style="background-image: url('{% static 'home/assets/img/bg6.jpg' %}');">
            {% endif %}
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">CheckOut</h1>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        <div class="container">
                            <div class="alert-icon">
                                <i class="now-ui-icons ui-2_like"></i>
                            </div>
                            {{ message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">
                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="title text-center">{{ instance }}</h2>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Sku</th>
                                        <th>Name</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order_items %}
                                        <tr>
                                            <td>{{ item.title.sku|default_if_none:"Empty" }}</td>
                                            <td>{{ item }}</td>
                                            <td>{{ item.qty }}</td>
                                            <td>{{ item.tag_final_price }}</td>
                                            <td>{{ item.tag_total_price }}</td>
                                        </tr>
                                    {% endfor %}

                                    <tr>
                                        <th>{{ instance.shipping.title }}</th>
                                        <th>{{ instance.tag_shipping_value }}</th>
                                        <th>{{ instance.get_payment_method_display }}</th>
                                        <th>{{ instance.tag_payment_value }}</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Coupons</td>
                                        <td colspan="2">{% for coupon in instance.coupons.all %} {{ coupon }} {% empty %} No coupons {% endfor %}</td>
                                        <th>Total Value</th>
                                        <th class="success">{{ instance.tag_final_price }}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <h5 class="title text-center">General Details</h5>
                            <div class="row text-center">
                                <div class="col-6">
                                    <p>Date {{ instance.date_created }}</p>
                                    <p>Status  {{ instance.get_status_display }}</p>
                                    <p>Status</p>
                                    <p>Status</p>
                                    <p>Status</p>
                                </div>
                                <div class="col-6">
                                    <p>Name... {{ instance.first_name }} {{ instance.last_name }}</p>
                                    <p>Address... {{ instance.address }}, {{ instance.zip_code }}, {{ instance.city }}</p>
                                    <p>Phone...{{ instance.cellphone }}</p>
                                    <p>Name</p>
                                    <p>Name</p>
                                    <p>Name</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if gifts %}
                        <div class="card">
                            <div style="background-color:#97ce97;" class="card-header">
                                <h2  class="title text-center green">Επίσης έχετε δωρεάν!</h2>
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Product</th>
                                            <th>Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in gifts %}
                                            <tr>
                                                <td>#</td>
                                                <td>{{ item.product_related }}</td>
                                                <td>{{ item.qty }}</td>
                                                
                                            </tr>
                                        {% endfor %}
    
                                       
                                    </tbody>
                                </table>
                            </div>
                           
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}