{% extends 'my_site/index.html' %} {% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"  media="screen">
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
{% endblock extra_css %}

{% block content %}
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">
        {% include 'my_site/include/navbar.html' %}

        <div class="shop_sidebar_area">
            <form method='get'>
                <div class="product-sorting d-flex">
                <div class="sort-by-date d-flex align-items-center mr-15">
                    <p>Sort by</p>
                    <select onchange="this.form.submit()" name="select" id="sortBydate">
                        <option value="price">Price</option>
                        <option value="newest">Newest</option>
                        <option value="title">Title</option>
                    </select>
                </div>
                </div>
            <!-- ##### Single Widget ##### -->
                <div class="widget catagory mb-50">
                    <!-- Widget Title -->
                    <h6 class="widget-title mb-30">Categories</h6>
                    <div class="widget-desc">
                        {% for category in categories %}
                        <div class="form-check">
                            <input onclick='this.form.submit()' name='site_cate_name' class="form-check-input" type="checkbox" value="{{ category.id }}" id="category_{{ category.id }}" {% if category.id|stringformat:"s" in site_cate_name %} checked {% endif %}>
                            <label class="form-check-label" for="category_{{ category.id }}">{{ category }}</label>
                        </div>
                        {% endfor %}
                    </div>

                </div>

                <!-- ##### Single Widget ##### -->
                <div class="widget brands mb-50">
                    <!-- Widget Title -->
                    <h6 class="widget-title mb-30">Brands</h6>

                    <div class="widget-desc">
                        {% for brand in brands %}
                        <div class="form-check">
                            <input onclick='this.form.submit()' name='brand_name' class="form-check-input" type="checkbox" value="{{ brand.id }}" id="brand_{{ brand.id }}" {% if brand.id|stringformat:"s" in brand_name %} checked {% endif %}>
                            <label class="form-check-label" for="brand_{{ brand.id }}">{{ brand }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="widget brands mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Colors</h6>
    
                        <div class="widget-desc">
                            {% for color in colors %}
                            <div class="form-check">
                                <input onclick='this.form.submit()' name='color_name' class="form-check-input" type="checkbox" value="{{ color.id }}" id="color_{{ color.id }}" {% if color.id|stringformat:"s" in color_name %} checked {% endif %}>
                                <label class="form-check-label" for="color_{{ color.id }}">{{ color }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                
                <div class="widget brands mb-50">
                    <h6 class="widget-title mb-30">Sizes</h6>
                    <div class="widget-desc">
                        {% for size in sizes %}
                            <div class="form-check">
                                <input onclick='this.form.submit()' name='size_name' class="form-check-input" type="checkbox" value="{{ size.0 }}" id="size_{{ szie.id }}" {% if size.0 in sizes %} checked {% endif %}>
                                <label class="form-check-label" for="size_{{ size.0 }}">{{ size.1 }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- ##### Single Widget ##### -->
                <div class="widget price mb-50">
                    <!-- Widget Title -->
                    <h6 class="widget-title mb-30">Price</h6>
                    <div class="widget-desc">
                        <div class="slider-range">
                            <div id='price_meter' name='price_meter' data-min="10" data-max="1000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="10" data-value-max="1000" data-label-result="">
                                <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                            </div>
                            <div class="range-price">$10 - $1000</div>
                        </div>
                    </div>
                </div>
                <div class="widget price mb-50">
                    <button type='submit' class="btn btn-primary">Save</button>
                    <a href="{{ request.path }}" class="btn btn-warning">Reset</a>
                </div>
            </form>
        </div>

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <!-- Total Products -->
                            <div class="total-products">
                                <p>{{ seo_title }}</p>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    {% for product in object_list %}
                    <!-- Single Product Area -->
                    <div class="col-6 col-sm-4 col-md-6 col-xl-4">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <a href='{{ product.get_absolute_url }}'>
                                <div class="product-img">
                                    {% if product.image %}
                                    <img class="img-thumbnail product-image" src="{{ product.image.url }}" alt="t">
                                    {% else %}
                                    <img class='img-thumbnail product-image' src="{% static 'home/no_image.png' %}" alt="t">
                                    <!-- Hover Thumb -->
                                    {% endif %}
                                    {% if product.image_back %}
                                    <img  class="hover-img product-image" src="{{ product.image_back.url }}" alt="t">
                                    {% else %}
                                    <img  class="hover-img product-image" src="{% static 'home/no_image.png' %}" alt="r">
                                    {% endif %}
                                </div>
                            </a>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{ product.tag_final_show_price }}</p>
                                    <a href="{{ product.get_absolute_url }}">
                                        <h6>{{ product }}</h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <p>{{ product.brand }}</p>
                                    </div>
                                    {% if product.size %}
                                    <a href="{{ product.get_absolute_url }}" data-toggle="tooltip" data-placement="left" title="Details"><img src="{% static 'home/img/core-img/cart.png' %}" alt=""></a>
                                    {% else %}
                                    <div class="cart">
                                        <a href="{% url 'cart:add' product.id 1 %}" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="{% static 'home/img/core-img/cart.png' %}" alt=""></a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   
                </div>

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end mt-50">
                                {% if page_obj.has_previous %}
                                    {% if '?' in request.path %}
                                        <li class="page-item "><a class="page-link" href="{{ request.path }}&page=1">First</a></li>
                                        <li class="page-item"><a class="page-link" href="{{ request.path }}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                                    {% else %}
                                        <li class="page-item "><a class="page-link" href="{{ request.path }}?page=1">First</a></li>
                                        <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                                    {% endif %}
                                {% endif %}
                                    <li class="page-item"><a class="page-link" href="{{ request.path }}">Page {{ page_obj.number }} </a></li>

                                {% if page_obj.has_next %}
                                    {% if '?' in request.path %}
                                        <li class="page-item "><a class="page-link" href="{{ request.path }}&page={{ page_obj.next_page_number }}">Next</a></li>
                                        <li class="page-item"><a class="page-link" href="{{ request.path }}&page={{ page_obj.paginator.num_pages }}">Last</a></li>
                                    {% else %}
                                        <li class="page-item "><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
                                        <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                                    {% endif %}
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    {% endblock %}

    {% block extra_js %}
        <script>
            $('#sortBydate').change(function () {
                const btn = $(this);
                const value = btn.val();
                const current_url = window.location.href;
                var final_url = '';
                console.log(value, current_url);
                if(current_url.includes('order_by')){

                } else {
                    final_url = current_url + '?order_by='+ value
                }
            })
        </script>
    {% endblock %}